@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .responsive-container {
    @apply max-w-6xl w-full px-4 mx-auto;
  }

  .shimmer {
    @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_1500ms_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}